* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 80%;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    color: purple;
    background-color: black;
    height: 100vh;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.welcome {
    font-size: 1.9rem;
    font-weight: 500;

}

.logo {
    height: 5rem;
}

.login {
    display: flex;
}

.login_input {
    border: none;
    padding: 0.5rem 2rem;
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    width: 12rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
}

.login_input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.login_input::placeholder {
    color: cadetblue;
}

.login_btn {
    font-family: inherit;
    font-size: 2rem;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.login_btn:hover,
.login_btn:focus {
    outline: none;
    color: cornflowerblue;
}

.app {
    position: relative;
    max-width: 100rem;
    margin: 4rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;

    opacity: 0;
    transition: all 1s;
}

.balance {
    grid-column: 1/span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance_label {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
}

.balance_date {
    font-size: 1.4rem;
    color: rgb(255, 0, 204);
}

.balance_value {
    font-size: 4.5rem;
    font-weight: 400;
}
.movements {
    grid-row:2/ span 3 ;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

.movements__row{
    display: flex;
    padding: 2.25rem 4rem;
    align-items: center;
    border-bottom:  1px solid #eee;
}

.movements__types
{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-right: 2rem;
    border-radius: 10rem;
    margin-right: 2rem;
}
.movements__date{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}
.movements__types--deposit{
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movements__types--withdrawal{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.movements__value{
    font-size: 1.7rem;
    margin-left: auto;
}
.summary{
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;
}
.summary_label{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}
.summary_value{
    font-size: 2.2rem;
    margin-right: 2.5rem;
}
.summary_value--in,
.summary_value--interest{
color: #2ae572;

}
.summary_value--out{
    color: #e52a5a;
}
.btn--sort{
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.operation {
    border-radius: 1rem;
    padding: 3rem 2rem;
    color: rgb(255, 0, 0);
}

.operation--transfer {
    background-image:
    linear-gradient(to top
    left, #ffb003,#ffcb03);
}
.operation--loan {
    background-image:
    linear-gradient(to top
    left, #39b385,#9be15d);
}
.operation--close {
    background-image:
    linear-gradient(to top
    left, #a04646,#8f595c);
}
h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(255, 0, 0);
}
.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}
.form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form_label--loan {
    grid-row: 2;
}
.form_input {
    width: 100%;
    border: none;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: purple;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}
.form_input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}
.form_label {
    font-size: 1.3rem;
    text-align: center;
}
.form_btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.form_btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}